      <%# Project Card Example %>
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Users' Cycling Time This Month (only accessible to org)</h6>
        </div>
        <div class="card-body">

          <% users.forEach(user => { %>
          <h4 class="small font-weight-bold"><%= user.id %>_<%= user.display %><span class="float-right"><%= user.dpTime %></span></h4>
          <div class="progress mb-4">
            <div class="progress-bar bg-danger" role="progressbar" style="width: <%= user.timeCycledInMin %>%" aria-valuenow="<%= user.timeCycledInMin %>" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <% }) %>
        </div>
      </div>