<div class="">
  <div class="card shadow mb-4">
    <table data-toggle="table">
      <thead class="card-header font-weight-bold text-primary chart-title">
        <tr>
          <th></th>
          <th>ID</th>
          <th>Active Days / m</th>
          <th>Active Time / m</th>
          <th>Average Time / d</th>
        </tr>       
      </thead>
      <tbody>
        <% orgs.forEach((org, i) => { %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= org.id %>_<%= org.name %></td>
          <td><%= org.days %></td>
          <td><%= org.dpTime %></td>
          <td><%= org.average %></td>          
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>